 <header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">Arduino Day</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">Início</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/lista-participantes">Lista de participantes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/entrada-participantes">Entrada de participante</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="/saida-participantes">Saída de participante</a>
            </li>
             <li class="nav-item">
                <a class="nav-link disabled" href="/popular-banco">Popular banco</a>
            </li>
             <li class="nav-item">
                <a class="nav-link disabled" href="/sair">Sair</a>
            </li>
            </ul>
        </div>
    </nav>
</header>