<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Popular banco - Gerenciamento Arduino Day</title>
    <link rel="icon" href="img/gim-logo.png">

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/sticky-footer-navbar.css" rel="stylesheet">
</head>

<body>
    <% include components/dashboard/navbar %>
        <br>
        <div class="container">
            <div class="row">
                <div class="offset-md-3 col-md-6">
                    <%if(erro){%>
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            Erro na população do banco de dados.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <%}%>
                            <%if(sucesso){%>
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    Banco de dados populado com sucesso.
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <%}%>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="offset-md-3 col-md-6">
                    <div id="conteudoMensagem"></div>
                    <form ref='uploadForm' id='uploadForm' action='/enviar-csv' method='post' encType="multipart/form-data">
                        <div class="form-group">
                            <label for="exampleFormControlFile1">Escolha um arquivo do tipo csv para popular o banco de dados:</label>
                            <input name="arquivo" type="file" class="form-control-file">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput">Senha para liberar população banco:</label>
                            <input id="senha" name="senha" type="password" class="form-control" id="formGroupExampleInput" placeholder="Digite a senha aqui">
                        </div>
                        <button class="btn btn-dark btn-block" type="submit">Popular</button>
                    </form>
                    <br>
                    <button id="deletarBanco" class="btn btn-danger btn-block">Deletar Banco</button>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <span class="text-muted">&copy; 2018.
                    <a style="color:#212121" href="http://mpsdantas.github.io">Marcus Dantas</a>
                </span>
            </div>
        </footer>

        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="./bootstrap/js/bootstrap.min.js"></script>
        <script>
            $(document).ready(function(){
                $('#deletarBanco').click(function(event){
                    event.preventDefault();
                    let senha = $('#senha').val();
                    $.ajax({
                        type: "POST",
                        url: "/deletar-banco",
                        data: {
                            senha
                        },
                        timeout: 600000,
                        success: function (data) {
                            if(data.status){
                                $('#conteudoMensagem').empty();
                                let html = `<div class="alert alert-success alert-dismissible fade show"                  role="alert">
                                                ${data.msg}
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>`;
                                $('#conteudoMensagem').append(html);
                            }else{  
                                $('#conteudoMensagem').empty();
                                let html = `<div class="alert alert-danger alert-dismissible fade show"                  role="alert">
                                                ${data.msg}
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>`;
                                $('#senha').val("");
                                $('#conteudoMensagem').append(html);
                            }
                        },
                        error: function (e) {
                            console.log("ERROR : ", e);
                        }
                    });
                });
            });
        </script>
</body>

</html>